
<!-- If there is a user, render the following -->
<% if(user){ %>
    <%= user.email %> 
    <form method="POST", action="/logout">
        <button type="submit",>Logout</button>
    </form>
<% } else { %> 
    <!-- else there is no user, render this -->
    <a href="/login">Login</a>
    <a href="/register">Register</a>

<% } %>

    