<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
    shortURL : <%= shortURL %>
    <label for="UPDATE"></label><br>
    <form method="POST" action="/urls/<%= shortURL %>"><button type="submit">Update</button>
    <input id="UPDATE" type="text" name="longURL" placeholder="" style="width: 300px"></form>
  </body>
</html>