<!DOCTYPE html>
<html lang="en">
    <head>   
        <title>TinyApp</title>
    </head>
<body style="font-size:20px; padding:50px;", style="">
    <form method="POST", action="/login">
        <label for="urls/login">Enter Email:</label>
        <input id="urls/login" type="text" name="login">
        <br><label for="urls/login">Enter Password:</label>
        <input id="urls/login", type="text", name="login">
        <input type="submit" value="login">
    </form>
</body>
</html>